@import './styles/tokens.scss';

.headerContainer {
    @include grid(12);
    min-width: 360px;
    padding: 0 $spacer-large;
    background-color:  $yellow;

    .container {
        display: flex;
        align-items: center;
        grid-column-end: 12;
        grid-column-start: 2;
        padding: $spacer-small 0 ;

        .searchBar {
            display: flex;
            width: 100%;

            .logo {
                flex-grow: 0.03;
            }

            .search {
                display: flex;
                flex-grow: 1;
                justify-content: flex-startW;

                input {
                    width: 100%;
                    border: none;
                    font-size: 18px;
                    color: $gray-800;
                    display: inline-block;
                    box-sizing: border-box;
                    border-radius: 4px 0 0 4px;       
                    padding: $spacer-small $spacer-medium;
            
                    ::placeholder {
                        color: $gray-300
                    }

                    &:focus {
                        outline: none;
                    }
                    
                }


                .searchIcon {
                    
                    display: flex;
                    cursor: pointer;
                    height: 100%;
                    padding: $spacer-small;
                    background-color: $gray-100;
                    border-radius: 0 4px 4px 0;
        
                    &hover {
                        background-color: $gray-300;
                    }
        
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }   
        }
    }
}


@media screen and (max-width: 620px) {
    .headerContainer {
        padding: 0 $spacer-small;
    }

    .searchBar {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        margin-top: 16px;

        transition: all 0.3s;
    }
}