@import './styles/tokens.scss';

.breadCrumbContainer {
    @include grid(12);
    min-width: 360px;
    padding: 0 $spacer-large;

    .breadCrumb {
        display: flex;
        grid-column-end: 12;
        grid-column-start: 2;

        padding: $spacer-medium 0 ;
        
        .breadCrumbItem {
            font-size: 14px;
            color: $gray-600;

            &:not(:last-child)::after {
                content: '>';
                margin: 0 $spacer-small;
            }

            &:last-child {
                font-weight: bold;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .breadCrumbContainer {
        padding: 0 $spacer-small;
    }
}